.info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: auto;
    margin-bottom: 3em;
    border-radius: 9px;
    padding-bottom: 5px;

}
@media screen and (min-width : 650px){
    .info{
    }
}
.info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.info div .info-link{
    text-decoration: none;
    margin-top: 1em;
    font-weight: 800;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
}
.info div .info-link:hover{
}
@media screen and (min-width : 650px){
    .info{
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
}
