.list-group{
    display : flex;
    list-style-type: none;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}
.list-link{
    border: 1px solid orange;
    width: 50px;
    text-align: center;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.list-link a{
    color: orange;

}
.list-link:hover{
    color: yellow;
    background: lightgray;
}
.list-group button{
    font-weight: 700;
}