/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap');

.header-b{
    background: url('../../assets/unsplash/fortune-vieyra-o4yi2U-qcf0-unsplash.jpg');
    background-size: 100% 100%;
}
.sub-header{
    background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 770px){
.sub-header{
    background-color: rgba(255, 255, 255, 0.7);
}
.header-b{
    background: url('../../assets//about/thread-69451558-12676338104478950268.png');
    background-size: 100% 100%;
}
.header-icon{
    position: absolute;
    top: 27rem;
}
    

}
@media screen and (max-width: 600px){
    .header-carousel{
        height:80vh;
    }
}
.header-nav{
    margin-top: 3rem;
}

.car-logo{
width: 90%;
height: 90%;
margin-top: 4rem;
}

.head{
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: x-large;
}
.head-carousel{
    animation: header-fade 10s infinite;
}
@keyframes header-fade{
    0%{
opacity: 0;
    }
    10%{
opacity: 1;

    }
    25%{
opacity: 1;
    }
50%{
    opacity: 1;
}
75%{
    opacity: 0;
}
100%{
    opacity: 0;

}
}