.header{
    background: url('../../assets/unsplash/fortune-vieyra-o4yi2U-qcf0-unsplash.jpg');
    background-size: 100% 100%;
}
.sub-header{
    background-color: rgba(0, 0, 0, 0.5);
}
.header-nav{
    margin-top: 5rem;
}