.welcome{
    height: auto;
}
.welcome-button{
    border: 1px solid black;
    transition: all .5s ease;
}
.welcome-button:hover{
    border: 1px solid red;
    background-color: inherit;
    color: white;
}

.welcome-arrow{
    animation: welcome 3s infinite;
}
@keyframes welcome{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(4px);
    }
    100%{
        transform: translateX(0);
    }
}