.about-info-bg{
  background-color:  #000d1a;
  padding: 2rem ;
  height: 100%;

}
.hobby_1 {
  background: url("coding_laptop.jpeg");
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hobby-text {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: capitalize;
  transform: scale(1);
  transition: all 0.5s ease;
}
.hobby-text:hover {
  background: rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  color: orange;

}
.hobby-text p{
text-align: center;
}
.hobby_2 {
    background: url("football.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hobby_3 {
    background: url("music_boy.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hobby_4 {
    background: url("football.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hobby_5 {
    background: url("boy_studying.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hobby_6 {
    background: url("table-tennis.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }