#about-img{
    width: 70%;
    height: 25rem;
    margin: auto;
    border-radius: 20px;
}

.container{
    text-align: center;
}
.cv-container{
    border: 1px solid blue;
    width: 70%;
    margin:2em auto;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.cv-container:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.cv-download{
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-align: center;

}
.about-skills h1{
font-size: 30px;
font-weight: 600;
text-align: center;
margin: 1rem auto;
}
@media screen and (min-width : 650px){
.about-skills h1{
margin: 2em auto;
}
.container-img{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 15px;
}
.container-all{
margin-top: 2em;
}
}
.about-link{
height: 50px;
width: 70%;
margin: 1em auto;
text-align: center;
background-color: black;
color: white;
font-weight: 700;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 9px;
transition: all 0.25s;
}
.about-link:hover{
background: white;
color: black;
border: 2px solid black;
}