.err{
    background: url('../assets/cars/white-bg.jpeg');
    background-size: 100% 100%;
}
@keyframes run {
    0%{
        transform: translateX(0);
    }
    /* 25%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(50px);
    } */
    100%{
        transform: translateX(100px);
    }
}